* {
	font-family: Helvetica;
	text-align: center;
}

a {
	color: white;
}

h2 {
	font-size: 32px;
	font-weight: bold;
}

h3 {
	font-size: 23px;
	font-weight: bold;
}

p {
	font-size: 14px;
}

.flatiron {
	background-image: url("../images/the-flatiron-building.png");
}

.header {
	color: white;
	font-size: 70px;
	font-weight: bold;
}

.header-links {
	color: white;
	font-size: 18px;
}

#designed-in-new-york {
	color: white;
}

#footer {
	background-color: dimgray;
	color: white;
	font-size: 11px;
	text-align: left;
}